@mixin special-info-notification {
    @apply flex items-center text-xs;
}

.form-course-option {
    @screen md {
        @apply mx-auto mt-6 p-0;
        width: 80%;
    }

    @screen xl { width: 800px }
}

// Flex column
.form-course-option,
.form-course-option__type-section,
.form-course-option__time-section { @apply flex flex-col }

    .type-section__title,
    .time-section__title {
        @apply flex flex-row;

        .type-section__title-text,
        .time-section__title-text {
            @apply flex-grow;
            font-size: 1.35rem;
            font-weight: 700;
            transition: all .35s cubic-bezier(0.165, 0.84, 0.44, 1);
        }

        .type-section__title-text { color: #272727 }

        .type-section__title-status { @apply text-green-600 cursor-pointer underline }

        .time-section__title-text {
            color: #999999;
            transition: .2s all cubic-bezier(0.165, 0.84, 0.44, 1);
        }
        .time-section__title-text--active { color: #272727 !important }

        .type-section__title-status,
        .time-section__title-status { @apply flex-shrink px-2 }

        .type-section__finish { @apply text-green-600 text-lg }
    }


    .type-section__type-class { @apply flex flex-row mt-3 }


    .type-section__classical-info {
        @apply flex flex-col;
        margin-top: 12px;

        .classical-info__price {
            @apply border rounded p-2 mb-2 font-bold;
            @include item-selector-selected;
        }
        .classical-info__class-requirement { @include special-info-notification() }
    }


    .type-section__private-option-wrapper {
        @apply flex flex-col mt-3;

        .private-class-option {
            @apply flex flex-row border border-gray-400 rounded py-2 mb-3;

            .private-class-option__icon-wrapper { @apply flex justify-center items-center px-2 }

            .private-class-option__content {
                @apply flex flex-col;

                .private-class-option__text { @apply font-bold }

                .private-class-option__description { @apply text-sm }
            }
        }

        .private-class-option__selected { @include item-selector-selected }
    }


    .type-section__implementation-option-wrapper {
        @apply flex flex-col mt-4;

        h3.implementation-option__title { @apply font-bold mb-2 }

        .implementation-options { @apply flex flex-row }

        .implementation-options__online-only {
            @apply flex-col;
            
            .implementation-option__info-outside-area { @include special-info-notification() }
        }
    }

        .class-option {
            @apply flex flex-row flex-grow p-2;

            @screen md { @apply px-2 py-4 }
        }

        .frequency-option { @apply flex my-1 items-center }

        .class-option__active {
            box-shadow: 0 2px 7px rgba(0,0,0,.11);
            border: 1px solid #153E31;
            border-radius: 3px;
        }

        .option__check-icon-wrapper {
            @apply flex justify-center items-center bg-white rounded-full mr-2;
            background:
                radial-gradient(114.95% 100% at 50.49% 0%, rgba(255, 255, 255, 0.11) 0%, rgba(255, 255, 255, 0) 100%),
                linear-gradient(0deg, #DDF4ED, #DDF4ED);
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 2px 5px 0px rgba(255, 255, 255, 0.07) inset;
            box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.15) inset;
            width: 24px;
            height: 24px;
            border:1px solid #1A5543;
        }

        .option__active {
            background:
                radial-gradient(114.95% 100% at 50.49% 0%, rgba(255, 255, 255, 0.11) 0%, rgba(255, 255, 255, 0) 100%),
                linear-gradient(0deg, #1A5543, #1A5543) !important;
        }


    .type-section__program-types-confirmation {
        @apply flex flex-row justify-end;

        .program-types-confirmation__button {
            @apply flex-shrink mt-3 px-3 py-2;
            background:
                radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0) 100%),
                linear-gradient(0deg, #FFEEDD, #FFEEDD);
            border: 1px solid rgba(30, 30, 30, .27);
            border-radius: 5px;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.17);
            box-shadow: 0px 2px 5px 0px rgba(255, 255, 255, 0.72) inset;
            box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.17) inset;
        }
    }


    .type-section__summary { @apply text-sm mb-3 }





    .time-section__form {
        @apply flex flex-col w-full;
        margin-bottom: 4.5rem;

        .time-section__learning-frequency { @apply flex flex-col }

        .time-section__schedule-selector {
          @apply flex flex-col mt-2;

          .schedule-selector__title { @apply font-bold }

          .schedule-selector__item {
            @apply py-1 my-3 border border-gray-400 rounded;
            transition: all .17s ease-in-out;

            .item-content {
              @apply flex flex-col px-1 text-center;

              .item-content__time { @apply text-sm }
            }
          }

          .schedule-selector__item-freq-2 { @apply grid grid-cols-2 }
          .schedule-selector__item-freq-3 { @apply grid grid-cols-3 }

          .schedule-selector__item__selected { @include item-selector-selected }
        }

        .schedule--full { @apply px-3 py-4 justify-center items-center }

        .time-section__register-button {
            @apply fixed bottom-0 font-bold py-2 mx-auto mb-4;
            width: calc(100% - 2rem);

            @screen md { @apply relative w-full }
        }
    }


.covid-19-announcement {
    background:
        linear-gradient(to left, rgba(255, 255, 255, 0.493), rgb(141, 223, 255)),
        no-repeat url('~assets/images/covid-19-illustr.jpeg');
    background-size: cover;
}




// Variants
@variants hover {
  .class-option,
  .private-class-option {
    cursor: pointer;
  }

  .type-section__title-status { @apply text-green-800 }
}
