@import "colors";
@import "mixins";
@import "transitions";

#container {
    @apply flex flex-col;

    @screen md {
        display: grid;
        grid-template-columns: minmax(auto, 380px) auto;
    }
}

#right-side {
    @apply px-4;
    @screen md {
        @apply flex flex-grow justify-center p-0;
        max-height: 100vh;
        overflow-y: scroll;
    }

    .landing-page-container {
        @apply flex flex-col justify-center items-center;
        max-width: 800px;
        
        @screen md { @apply w-3/4 mt-6 mx-auto justify-start items-start }

        @media (min-width: 1650px) { @apply mx-0 }
    }


    .temporary-joinied-status {
        @apply w-full rounded p-4;
        background: rgb(34,193,195);
        background: linear-gradient(34deg, rgba(34,193,195,1) 0%, rgba(0,217,156,1) 100%);
    }
}

.right-side__with-headerbar { padding-top: 56px; }
.right-side__no-headerbar { @apply pt-0 }

.disabled-button {
    @include basic-button-style;
    @apply bg-gray-300 border-gray-600 text-gray-500;
}
.main-button { @include main-button-style }
.secondary-button { @include secondary-button-style }
