@import "colors";
@import "mixins";

#container {
    @apply flex flex-col;

    @screen md {
        display: grid;
        grid-template-columns: 30% auto;
    }
}

#right-side {
    @apply px-3;
    @screen md {
        @apply flex flex-grow justify-center p-0;
        max-height: 100vh;
        overflow-y: auto;
    }

  @screen xl { max-width: 900px }


    .landing-page-container { @apply flex flex-col w-full justify-center items-center }
}

.right-side__with-headerbar { padding-top: 56px; }
.right-side__no-headerbar { @apply pt-0 }

.main-button { @include main-button-style }
.secondary-button { @include secondary-button-style }
