#sidebar {
  @apply hidden;

  @screen md {
    @apply h-screen;
    background-color: $primaryGreen;
    display: grid;
    grid-template-rows: minmax(24px, max-content) auto minmax(64px, max-content);
  }

  @screen xl {
    grid-template-columns: auto max(380px);
  }
}

#sidebar > * {
  grid-column: 2;
}

ul {
  list-style: none;
}

.sidebar__content-item {
  display: grid;
  grid-template-columns: 24px auto;
  grid-template-rows: 24px minmax(38px, max-content);
}
.content-item__text {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.content-item__text__active {
  font-weight: 700;
}
.circle-item__active {
  color: #FFEEDD;
}
.content-item__text__inactive {
  color: rgba(255, 255, 255, .6);
}
.circle-item__inactive {
  color: #20624F;
}
.stroke-3 {
  stroke-width: 3;
}
.center-point {
  justify-self: center;
  align-self: center;
}
.dashed-line__bottom {
  width: 4px;
  height: 100%;
  margin: 0 auto;
  transition: all .17s ease-in-out;
}
.dashed-line__active {
  background: repeating-linear-gradient(to bottom,#FFEEDD 0,#FFEEDD 20%,transparent 20%,transparent 40%);
}
.dashed-line__inactive {
  background: repeating-linear-gradient(to bottom,#20624F 0,#20624F 20%,transparent 20%,transparent 40%);
}

.contact-us,
.button-faq {
  align-self: center;
  align-items: center;
}
.contact-us {
  @apply text-white flex flex-row pl-5 py-3 w-full;
  height: 100%;

  @screen lg {
    @apply py-0 w-2/3;
    background-color: rgba(26, 85, 67, .66);
    border-top-right-radius: 27px;
  }

  @screen xl { @apply bg-transparent }
}
.button-faq {
  @apply w-1/3 mb-4 flex justify-center;

  @screen lg { @apply mb-0 }
}
.button-faq button { @include main-button-style }
.button-faq button:active {
  background: #1A5543;
}
.button-faq button:hover {
  box-shadow:
    0px 3px 7px rgba(0, 0, 0, 0.30),
    inset 0px -1px 2px rgba(0, 0, 0, 0.15),
    inset 0px 2px 5px rgba(255, 255, 255, 0.07);
}
